openapi: 3.0.3
info:
  title: HomeChef Addresses API
  description: Address management endpoints
  version: 1.0.0

servers:
  - url: https://api.homechef.com/v1
    description: Production server

security:
  - BearerAuth: []

paths:
  /addresses:
    get:
      tags: [Addresses]
      summary: Get user addresses
      responses:
        '200':
          description: Addresses retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Address'

    post:
      tags: [Addresses]
      summary: Add new address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreate'
      responses:
        '201':
          description: Address added successfully

  /addresses/{address_id}:
    get:
      tags: [Addresses]
      summary: Get address details
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Address details retrieved

    put:
      tags: [Addresses]
      summary: Update address
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressUpdate'
      responses:
        '200':
          description: Address updated successfully

    delete:
      tags: [Addresses]
      summary: Delete address
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Address deleted successfully

  /addresses/{address_id}/default:
    put:
      tags: [Addresses]
      summary: Set default address
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Default address set

  /addresses/validate:
    post:
      tags: [Addresses]
      summary: Validate address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, pincode]
              properties:
                address:
                  type: string
                pincode:
                  type: string
                city:
                  type: string
                state:
                  type: string
      responses:
        '200':
          description: Address validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      is_valid:
                        type: boolean
                      is_serviceable:
                        type: boolean
                      coordinates:
                        type: object
                        properties:
                          latitude:
                            type: number
                            format: float
                          longitude:
                            type: number
                            format: float
                      suggestions:
                        type: array
                        items:
                          type: string

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Address:
      type: object
      properties:
        id:
          type: string
          example: 'addr_123'
        type:
          type: string
          enum: [home, work, holiday, temporary]
          example: 'home'
        label:
          type: string
          example: 'Home'
        full_address:
          type: string
          example: '123 Main Street, Apartment 4B'
        landmark:
          type: string
          example: 'Near Metro Station'
        pincode:
          type: string
          example: '400001'
        city:
          type: string
          example: 'Mumbai'
        state:
          type: string
          example: 'Maharashtra'
        is_default:
          type: boolean
          example: true
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        instructions:
          type: string
          example: 'Ring the bell twice'
        created_at:
          type: string
          format: date-time

    AddressCreate:
      type: object
      required: [type, full_address, pincode, city, state]
      properties:
        type:
          type: string
          enum: [home, work, holiday, temporary]
        label:
          type: string
        full_address:
          type: string
        landmark:
          type: string
        pincode:
          type: string
          pattern: '^[1-9][0-9]{5}$'
        city:
          type: string
        state:
          type: string
        is_default:
          type: boolean
          default: false
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        instructions:
          type: string

    AddressUpdate:
      type: object
      properties:
        label:
          type: string
        full_address:
          type: string
        landmark:
          type: string
        instructions:
          type: string

tags:
  - name: Addresses
    description: Address management operations