openapi: 3.0.3
info:
  title: HomeChef Analytics API
  description: Analytics and reporting endpoints
  version: 1.0.0

servers:
  - url: https://api.homechef.com/v1
    description: Production server

security:
  - BearerAuth: []

paths:
  /analytics/platform/overview:
    get:
      tags: [Platform Analytics]
      summary: Get platform overview
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, quarter, year]
            default: month
      responses:
        '200':
          description: Platform overview retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PlatformOverview'

  /analytics/revenue:
    get:
      tags: [Financial Analytics]
      summary: Get revenue analytics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, quarter, year]
        - name: group_by
          in: query
          schema:
            type: string
            enum: [day, week, month]
        - name: breakdown
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Revenue analytics retrieved

  /analytics/users:
    get:
      tags: [User Analytics]
      summary: Get user analytics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, quarter, year]
        - name: segment
          in: query
          schema:
            type: string
            enum: [new_users, returning_users, high_value, all]
      responses:
        '200':
          description: User analytics retrieved

  /analytics/orders:
    get:
      tags: [Order Analytics]
      summary: Get order analytics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, quarter, year]
        - name: group_by
          in: query
          schema:
            type: string
            enum: [day, week, month]
        - name: chef_id
          in: query
          schema:
            type: string
        - name: location
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Order analytics retrieved

  /analytics/chefs/{chef_id}/performance:
    get:
      tags: [Chef Analytics]
      summary: Get chef performance analytics
      parameters:
        - name: chef_id
          in: path
          required: true
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, quarter, year]
      responses:
        '200':
          description: Chef performance retrieved

  /analytics/chefs/ranking:
    get:
      tags: [Chef Analytics]
      summary: Get chef rankings
      parameters:
        - name: metric
          in: query
          schema:
            type: string
            enum: [revenue, orders, rating, growth]
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, quarter, year]
        - name: location
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Chef rankings retrieved

  /analytics/delivery/performance:
    get:
      tags: [Delivery Analytics]
      summary: Get delivery performance analytics
      parameters:
        - name: partner_id
          in: query
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, quarter, year]
        - name: location
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Delivery performance retrieved

  /analytics/customers/insights:
    get:
      tags: [Customer Analytics]
      summary: Get customer insights
      parameters:
        - name: segment
          in: query
          schema:
            type: string
            enum: [high_value, regular, occasional, at_risk]
        - name: period
          in: query
          schema:
            type: string
            enum: [month, quarter, year]
      responses:
        '200':
          description: Customer insights retrieved

  /analytics/customers/cohorts:
    get:
      tags: [Customer Analytics]
      summary: Get customer cohort analysis
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: cohort_type
          in: query
          schema:
            type: string
            enum: [monthly, weekly]
      responses:
        '200':
          description: Cohort analysis retrieved

  /analytics/financial/dashboard:
    get:
      tags: [Financial Analytics]
      summary: Get financial dashboard
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [month, quarter, year]
      responses:
        '200':
          description: Financial dashboard retrieved

  /analytics/operational/metrics:
    get:
      tags: [Operational Analytics]
      summary: Get operational metrics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month]
        - name: department
          in: query
          schema:
            type: string
            enum: [kitchen, delivery, support, all]
      responses:
        '200':
          description: Operational metrics retrieved

  /analytics/reports/custom:
    post:
      tags: [Custom Reports]
      summary: Create custom report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomReportCreate'
      responses:
        '201':
          description: Custom report created

  /analytics/reports/{report_id}:
    get:
      tags: [Custom Reports]
      summary: Get report
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv, pdf, excel]
            default: json
      responses:
        '200':
          description: Report retrieved

  /analytics/realtime/dashboard:
    get:
      tags: [Real-time Analytics]
      summary: Get real-time dashboard
      responses:
        '200':
          description: Real-time dashboard data

  /analytics/export:
    post:
      tags: [Data Export]
      summary: Export analytics data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data_type, format]
              properties:
                data_type:
                  type: string
                  enum: [orders, users, chefs, revenue, reviews]
                format:
                  type: string
                  enum: [csv, json, excel]
                date_range:
                  type: object
                  properties:
                    start_date:
                      type: string
                      format: date
                    end_date:
                      type: string
                      format: date
                filters:
                  type: object
      responses:
        '202':
          description: Export initiated

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    PlatformOverview:
      type: object
      properties:
        revenue:
          type: object
          properties:
            total:
              type: number
              format: float
            growth:
              type: number
              format: float
            trend:
              type: string
        orders:
          type: object
          properties:
            total:
              type: integer
            growth:
              type: number
              format: float
            completion_rate:
              type: number
              format: float
        users:
          type: object
          properties:
            total_active:
              type: integer
            new_users:
              type: integer
            retention_rate:
              type: number
              format: float

    CustomReportCreate:
      type: object
      required: [name, metrics, dimensions]
      properties:
        name:
          type: string
        description:
          type: string
        metrics:
          type: array
          items:
            type: string
        dimensions:
          type: array
          items:
            type: string
        filters:
          type: object
        schedule:
          type: object
          properties:
            frequency:
              type: string
              enum: [daily, weekly, monthly]
            recipients:
              type: array
              items:
                type: string

tags:
  - name: Platform Analytics
    description: Overall platform analytics
  - name: Financial Analytics
    description: Revenue and financial metrics
  - name: User Analytics
    description: User behavior and engagement
  - name: Order Analytics
    description: Order performance metrics
  - name: Chef Analytics
    description: Chef performance analytics
  - name: Delivery Analytics
    description: Delivery performance metrics
  - name: Customer Analytics
    description: Customer insights and behavior
  - name: Operational Analytics
    description: Operational efficiency metrics
  - name: Custom Reports
    description: Custom report generation
  - name: Real-time Analytics
    description: Real-time metrics and dashboards
  - name: Data Export
    description: Data export functionality