openapi: 3.0.3
info:
  title: HomeChef Customer API
  description: Customer-specific endpoints for browsing, ordering, and account management
  version: 1.0.0

servers:
  - url: https://api.homechef.com/v1
    description: Production server

security:
  - BearerAuth: []

paths:
  /customers/profile:
    get:
      tags: [Customer Profile]
      summary: Get customer profile
      responses:
        '200':
          description: Profile retrieved successfully

    put:
      tags: [Customer Profile]
      summary: Update customer profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfileUpdate'
      responses:
        '200':
          description: Profile updated successfully

  /customers/addresses:
    get:
      tags: [Address Management]
      summary: Get customer addresses
      responses:
        '200':
          description: Addresses retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Address'

    post:
      tags: [Address Management]
      summary: Add new address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreate'
      responses:
        '201':
          description: Address added successfully

  /customers/addresses/{address_id}:
    put:
      tags: [Address Management]
      summary: Update address
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressUpdate'
      responses:
        '200':
          description: Address updated successfully

    delete:
      tags: [Address Management]
      summary: Delete address
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Address deleted successfully

  /customers/addresses/{address_id}/default:
    put:
      tags: [Address Management]
      summary: Set default address
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Default address set

  /customers/payment-methods:
    get:
      tags: [Payment Methods]
      summary: Get payment methods
      responses:
        '200':
          description: Payment methods retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'

    post:
      tags: [Payment Methods]
      summary: Add payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreate'
      responses:
        '201':
          description: Payment method added

  /customers/payment-methods/{payment_method_id}:
    delete:
      tags: [Payment Methods]
      summary: Delete payment method
      parameters:
        - name: payment_method_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment method deleted

  /customers/favorites/chefs:
    get:
      tags: [Favorites]
      summary: Get favorite chefs
      responses:
        '200':
          description: Favorite chefs retrieved

    post:
      tags: [Favorites]
      summary: Add chef to favorites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chef_id]
              properties:
                chef_id:
                  type: string
                  example: 'chef_123'
      responses:
        '201':
          description: Chef added to favorites

  /customers/favorites/chefs/{chef_id}:
    delete:
      tags: [Favorites]
      summary: Remove chef from favorites
      parameters:
        - name: chef_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Chef removed from favorites

  /customers/favorites/dishes:
    get:
      tags: [Favorites]
      summary: Get favorite dishes
      responses:
        '200':
          description: Favorite dishes retrieved

    post:
      tags: [Favorites]
      summary: Add dish to favorites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dish_id]
              properties:
                dish_id:
                  type: string
                  example: 'dish_123'
      responses:
        '201':
          description: Dish added to favorites

  /customers/orders:
    get:
      tags: [Order History]
      summary: Get customer orders
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, preparing, ready, delivering, delivered, cancelled]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: sort
          in: query
          schema:
            type: string
            default: 'created_at'
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Orders retrieved successfully

  /customers/reviews:
    get:
      tags: [Reviews]
      summary: Get customer reviews
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Reviews retrieved successfully

    post:
      tags: [Reviews]
      summary: Submit review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewCreate'
      responses:
        '201':
          description: Review submitted successfully

  /customers/reviews/{review_id}:
    put:
      tags: [Reviews]
      summary: Update review
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewUpdate'
      responses:
        '200':
          description: Review updated successfully

    delete:
      tags: [Reviews]
      summary: Delete review
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Review deleted successfully

  /customers/notifications/settings:
    get:
      tags: [Notifications]
      summary: Get notification settings
      responses:
        '200':
          description: Notification settings retrieved

    put:
      tags: [Notifications]
      summary: Update notification settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettings'
      responses:
        '200':
          description: Settings updated successfully

  /customers/activity:
    get:
      tags: [Customer Analytics]
      summary: Get customer activity summary
      responses:
        '200':
          description: Activity summary retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CustomerActivity'

  /customers/recommendations:
    get:
      tags: [Recommendations]
      summary: Get personalized recommendations
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [chefs, dishes, cuisines]
            default: chefs
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Recommendations retrieved

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    CustomerProfileUpdate:
      type: object
      properties:
        name:
          type: string
          example: 'John Smith'
        phone:
          type: string
          example: '+919876543211'
        avatar:
          type: string
          description: 'Base64 encoded image'
        preferences:
          type: object
          properties:
            dietary:
              type: array
              items:
                type: string
              example: ['vegetarian', 'gluten_free']
            cuisine_preferences:
              type: array
              items:
                type: string
              example: ['north_indian', 'south_indian']
            spice_preference:
              type: string
              enum: [mild, medium, hot]
              example: 'medium'

    Address:
      type: object
      properties:
        id:
          type: string
          example: 'addr_123'
        type:
          type: string
          enum: [home, work, other]
          example: 'home'
        label:
          type: string
          example: 'Home'
        full_address:
          type: string
          example: '123 Main Street, Apartment 4B'
        landmark:
          type: string
          example: 'Near Metro Station'
        city:
          type: string
          example: 'Mumbai'
        state:
          type: string
          example: 'Maharashtra'
        pincode:
          type: string
          example: '400001'
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        is_default:
          type: boolean
          example: true
        delivery_instructions:
          type: string
          example: 'Ring the bell twice'
        created_at:
          type: string
          format: date-time

    AddressCreate:
      type: object
      required: [type, full_address, city, state, pincode]
      properties:
        type:
          type: string
          enum: [home, work, other]
        label:
          type: string
        full_address:
          type: string
        landmark:
          type: string
        city:
          type: string
        state:
          type: string
        pincode:
          type: string
          pattern: '^[1-9][0-9]{5}$'
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        is_default:
          type: boolean
          default: false
        delivery_instructions:
          type: string

    AddressUpdate:
      type: object
      properties:
        label:
          type: string
        full_address:
          type: string
        landmark:
          type: string
        delivery_instructions:
          type: string

    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          example: 'pm_123'
        type:
          type: string
          enum: [card, upi, wallet, netbanking]
          example: 'card'
        card:
          type: object
          nullable: true
          properties:
            last4:
              type: string
              example: '4242'
            brand:
              type: string
              example: 'visa'
            exp_month:
              type: integer
              example: 12
            exp_year:
              type: integer
              example: 2025
        upi:
          type: object
          nullable: true
          properties:
            vpa:
              type: string
              example: 'user@paytm'
        is_default:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time

    PaymentMethodCreate:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [card, upi, wallet, netbanking]
        card:
          type: object
          properties:
            number:
              type: string
              example: '4242424242424242'
            exp_month:
              type: integer
              example: 12
            exp_year:
              type: integer
              example: 2025
            cvc:
              type: string
              example: '123'
            name:
              type: string
              example: 'John Doe'
        upi:
          type: object
          properties:
            vpa:
              type: string
              example: 'user@paytm'

    ReviewCreate:
      type: object
      required: [chef_id, order_id, rating, review_text]
      properties:
        chef_id:
          type: string
          example: 'chef_123'
        order_id:
          type: string
          example: 'order_123'
        dish_id:
          type: string
          nullable: true
          example: 'dish_123'
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        review_text:
          type: string
          maxLength: 1000
          example: 'Amazing food! Will order again.'
        images:
          type: array
          items:
            type: string
            description: 'Base64 encoded images'

    ReviewUpdate:
      type: object
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        review_text:
          type: string
          maxLength: 1000

    NotificationSettings:
      type: object
      properties:
        email_notifications:
          type: object
          properties:
            order_updates:
              type: boolean
              example: true
            promotions:
              type: boolean
              example: false
            newsletter:
              type: boolean
              example: true
        push_notifications:
          type: object
          properties:
            order_updates:
              type: boolean
              example: true
            promotions:
              type: boolean
              example: true
            chat_messages:
              type: boolean
              example: true
        sms_notifications:
          type: object
          properties:
            order_updates:
              type: boolean
              example: true
            otp:
              type: boolean
              example: true
            promotions:
              type: boolean
              example: false

    CustomerActivity:
      type: object
      properties:
        total_orders:
          type: integer
          example: 25
        total_spent:
          type: number
          format: float
          example: 5670.50
        favorite_cuisines:
          type: array
          items:
            type: string
          example: ['north_indian', 'south_indian']
        avg_order_value:
          type: number
          format: float
          example: 226.82
        last_order_date:
          type: string
          format: date-time
        loyalty_points:
          type: integer
          example: 567
        reviews_given:
          type: integer
          example: 18
        avg_rating_given:
          type: number
          format: float
          example: 4.3

tags:
  - name: Customer Profile
    description: Customer profile management
  - name: Address Management
    description: Delivery address management
  - name: Payment Methods
    description: Payment method management
  - name: Favorites
    description: Favorite chefs and dishes
  - name: Order History
    description: Customer order history
  - name: Reviews
    description: Review and rating management
  - name: Notifications
    description: Notification preferences
  - name: Customer Analytics
    description: Customer activity and insights
  - name: Recommendations
    description: Personalized recommendations