openapi: 3.0.3
info:
  title: HomeChef Location API
  description: Location and geospatial service endpoints
  version: 1.0.0

servers:
  - url: https://api.homechef.com/v1
    description: Production server

security:
  - BearerAuth: []

paths:
  /locations/cities:
    get:
      tags: [Location Services]
      summary: Get supported cities
      parameters:
        - name: country
          in: query
          schema:
            type: string
            default: 'IN'
        - name: state
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Supported cities retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/City'

  /locations/areas:
    get:
      tags: [Location Services]
      summary: Get serviceable areas
      parameters:
        - name: city
          in: query
          required: true
          schema:
            type: string
            example: 'mumbai'
        - name: pincode
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Serviceable areas retrieved

  /locations/validate:
    post:
      tags: [Location Validation]
      summary: Validate location
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address]
              properties:
                address:
                  type: string
                  example: '123 Main Street, Mumbai'
                pincode:
                  type: string
                  example: '400001'
                coordinates:
                  type: object
                  properties:
                    latitude:
                      type: number
                      format: float
                    longitude:
                      type: number
                      format: float
      responses:
        '200':
          description: Location validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/LocationValidation'

  /locations/geocode:
    post:
      tags: [Geocoding]
      summary: Geocode address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address]
              properties:
                address:
                  type: string
                  example: 'Bandra West, Mumbai, Maharashtra'
      responses:
        '200':
          description: Geocoding result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/GeocodingResult'

  /locations/reverse-geocode:
    post:
      tags: [Geocoding]
      summary: Reverse geocode coordinates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [latitude, longitude]
              properties:
                latitude:
                  type: number
                  format: float
                  example: 19.0596
                longitude:
                  type: number
                  format: float
                  example: 72.8295
      responses:
        '200':
          description: Reverse geocoding result

  /locations/nearby:
    get:
      tags: [Proximity Search]
      summary: Find nearby locations
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
            format: float
        - name: longitude
          in: query
          required: true
          schema:
            type: number
            format: float
        - name: type
          in: query
          schema:
            type: string
            enum: [chefs, delivery_partners, landmarks]
        - name: radius
          in: query
          schema:
            type: number
            format: float
            default: 5.0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Nearby locations retrieved

  /locations/distance:
    post:
      tags: [Distance Calculation]
      summary: Calculate distance between points
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [origin, destination]
              properties:
                origin:
                  type: object
                  properties:
                    latitude:
                      type: number
                      format: float
                    longitude:
                      type: number
                      format: float
                destination:
                  type: object
                  properties:
                    latitude:
                      type: number
                      format: float
                    longitude:
                      type: number
                      format: float
                mode:
                  type: string
                  enum: [driving, walking, bicycling]
                  default: driving
      responses:
        '200':
          description: Distance calculated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/DistanceResult'

  /locations/route:
    post:
      tags: [Route Planning]
      summary: Get route between points
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [origin, destination]
              properties:
                origin:
                  type: object
                  properties:
                    latitude:
                      type: number
                      format: float
                    longitude:
                      type: number
                      format: float
                destination:
                  type: object
                  properties:
                    latitude:
                      type: number
                      format: float
                    longitude:
                      type: number
                      format: float
                waypoints:
                  type: array
                  items:
                    type: object
                    properties:
                      latitude:
                        type: number
                        format: float
                      longitude:
                        type: number
                        format: float
                mode:
                  type: string
                  enum: [driving, walking, bicycling]
                  default: driving
                optimize:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Route calculated

  /locations/delivery-zones:
    get:
      tags: [Delivery Zones]
      summary: Get delivery zones
      parameters:
        - name: city
          in: query
          schema:
            type: string
        - name: chef_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Delivery zones retrieved

  /locations/delivery-zones/check:
    post:
      tags: [Delivery Zones]
      summary: Check if location is in delivery zone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [latitude, longitude, chef_id]
              properties:
                latitude:
                  type: number
                  format: float
                longitude:
                  type: number
                  format: float
                chef_id:
                  type: string
      responses:
        '200':
          description: Delivery zone check result

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    City:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: 'Mumbai'
        state:
          type: string
          example: 'Maharashtra'
        country:
          type: string
          example: 'India'
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        is_serviceable:
          type: boolean
        chef_count:
          type: integer
        popular_areas:
          type: array
          items:
            type: string

    LocationValidation:
      type: object
      properties:
        is_valid:
          type: boolean
        is_serviceable:
          type: boolean
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        formatted_address:
          type: string
        components:
          type: object
          properties:
            street:
              type: string
            area:
              type: string
            city:
              type: string
            state:
              type: string
            pincode:
              type: string
        suggestions:
          type: array
          items:
            type: string

    GeocodingResult:
      type: object
      properties:
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        formatted_address:
          type: string
        components:
          type: object
        accuracy:
          type: string
          enum: [exact, approximate, partial]

    DistanceResult:
      type: object
      properties:
        distance:
          type: object
          properties:
            value:
              type: number
              format: float
              description: 'Distance in kilometers'
            text:
              type: string
              example: '2.3 km'
        duration:
          type: object
          properties:
            value:
              type: integer
              description: 'Duration in seconds'
            text:
              type: string
              example: '15 mins'
        mode:
          type: string

tags:
  - name: Location Services
    description: Location and area management
  - name: Location Validation
    description: Address validation services
  - name: Geocoding
    description: Address to coordinates conversion
  - name: Proximity Search
    description: Nearby location search
  - name: Distance Calculation
    description: Distance and duration calculation
  - name: Route Planning
    description: Route optimization and planning
  - name: Delivery Zones
    description: Delivery zone management