openapi: 3.0.3
info:
  title: HomeChef Order Journey API
  description: Complete order lifecycle management from placement to delivery
  version: 1.0.0

servers:
  - url: https://api.homechef.com/v1
    description: Production server

security:
  - BearerAuth: []

paths:
  /orders/{order_id}/journey:
    get:
      tags: [Order Journey]
      summary: Get complete order journey
      description: Get detailed order journey with timeline and current status
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order journey retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/OrderJourney'

  /orders/{order_id}/chef-accept:
    post:
      tags: [Chef Operations]
      summary: Chef accepts order
      description: Chef accepts order and provides estimated preparation time
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [estimated_preparation_time]
              properties:
                estimated_preparation_time:
                  type: integer
                  description: 'Preparation time in minutes'
                  example: 25
                  minimum: 5
                  maximum: 120
                notes:
                  type: string
                  maxLength: 200
                  example: 'Will start preparing immediately'
      responses:
        '200':
          description: Order accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      order_id:
                        type: string
                      status:
                        type: string
                        example: 'chef_accepted'
                      estimated_delivery_time:
                        type: string
                        format: date-time
                      delivery_partners_notified:
                        type: integer
                        example: 5

  /orders/{order_id}/chef-decline:
    post:
      tags: [Chef Operations]
      summary: Chef declines order
      description: Chef declines order with reason
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  enum: [unavailable, out_of_ingredients, too_busy, technical_issue]
                notes:
                  type: string
                  maxLength: 200
      responses:
        '200':
          description: Order declined successfully

  /orders/{order_id}/update-status:
    put:
      tags: [Order Status]
      summary: Update order status
      description: Update order status with optional message and ETA
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [preparing, ready_for_pickup, picked_up, out_for_delivery, delivered]
                message:
                  type: string
                  maxLength: 200
                estimated_time:
                  type: string
                  description: 'Estimated time for next status'
                location:
                  type: object
                  properties:
                    latitude:
                      type: number
                      format: float
                    longitude:
                      type: number
                      format: float
      responses:
        '200':
          description: Status updated successfully

  /delivery/orders/available:
    get:
      tags: [Delivery Operations]
      summary: Get available delivery orders
      description: Get orders available for delivery partner assignment
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
            format: float
        - name: longitude
          in: query
          required: true
          schema:
            type: number
            format: float
        - name: radius
          in: query
          schema:
            type: number
            format: float
            default: 5.0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Available orders retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AvailableDeliveryOrder'

  /delivery/orders/{order_id}/accept:
    post:
      tags: [Delivery Operations]
      summary: Accept delivery order
      description: Delivery partner accepts order for delivery
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                estimated_pickup_time:
                  type: string
                  format: date-time
                current_location:
                  type: object
                  properties:
                    latitude:
                      type: number
                      format: float
                    longitude:
                      type: number
                      format: float
      responses:
        '200':
          description: Delivery accepted successfully

  /orders/{order_id}/tip:
    post:
      tags: [Tipping System]
      summary: Add tip to order
      description: Customer adds tip for chef or delivery partner
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recipient_type, amount]
              properties:
                recipient_type:
                  type: string
                  enum: [chef, delivery]
                amount:
                  type: number
                  format: float
                  minimum: 10
                  maximum: 500
                message:
                  type: string
                  maxLength: 200
                  example: 'Great food, thank you!'
      responses:
        '200':
          description: Tip added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      tip_id:
                        type: string
                      amount:
                        type: number
                        format: float
                      recipient_notified:
                        type: boolean
                      direct_transfer_initiated:
                        type: boolean

  /orders/{order_id}/notifications:
    post:
      tags: [Order Notifications]
      summary: Send order notifications
      description: Send notifications to relevant parties about order updates
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [notification_type, recipients]
              properties:
                notification_type:
                  type: string
                  enum: [status_update, chef_assigned, delivery_assigned, eta_update, tip_received]
                recipients:
                  type: array
                  items:
                    type: object
                    properties:
                      user_id:
                        type: string
                      user_type:
                        type: string
                        enum: [customer, chef, delivery]
                message:
                  type: string
                data:
                  type: object
                  description: 'Additional notification data'
      responses:
        '200':
          description: Notifications sent successfully

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    OrderJourney:
      type: object
      properties:
        order_id:
          type: string
        current_status:
          type: string
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/OrderTimelineEvent'
        participants:
          type: object
          properties:
            customer:
              $ref: '#/components/schemas/OrderParticipant'
            chef:
              $ref: '#/components/schemas/OrderParticipant'
            delivery_partner:
              $ref: '#/components/schemas/OrderParticipant'
        cancellation_info:
          $ref: '#/components/schemas/CancellationInfo'
        tipping_info:
          type: object
          properties:
            chef_tip:
              type: number
              format: float
            delivery_tip:
              type: number
              format: float
            can_tip_chef:
              type: boolean
            can_tip_delivery:
              type: boolean

    OrderTimelineEvent:
      type: object
      properties:
        status:
          type: string
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        estimated_time:
          type: string
          nullable: true
        location:
          type: object
          nullable: true
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float

    OrderParticipant:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        phone:
          type: string
        rating:
          type: number
          format: float
        image:
          type: string
          format: uri

    AvailableDeliveryOrder:
      type: object
      properties:
        order_id:
          type: string
        customer_name:
          type: string
        chef_name:
          type: string
        pickup_location:
          type: object
          properties:
            address:
              type: string
            coordinates:
              type: object
              properties:
                latitude:
                  type: number
                  format: float
                longitude:
                  type: number
                  format: float
        delivery_location:
          type: object
          properties:
            address:
              type: string
            coordinates:
              type: object
              properties:
                latitude:
                  type: number
                  format: float
                longitude:
                  type: number
                  format: float
        distance:
          type: number
          format: float
          description: 'Distance in kilometers'
        estimated_earnings:
          type: number
          format: float
        order_value:
          type: number
          format: float
        estimated_delivery_time:
          type: integer
          description: 'Estimated delivery time in minutes'
        priority:
          type: string
          enum: [low, medium, high]

    CancellationInfo:
      type: object
      properties:
        can_cancel:
          type: boolean
        is_free_cancellation:
          type: boolean
        penalty_amount:
          type: number
          format: float
        refund_amount:
          type: number
          format: float
        time_remaining_for_free:
          type: integer
          description: 'Seconds remaining for free cancellation'

tags:
  - name: Order Journey
    description: Complete order lifecycle tracking
  - name: Chef Operations
    description: Chef order management operations
  - name: Delivery Operations
    description: Delivery partner operations
  - name: Order Status
    description: Order status management
  - name: Tipping System
    description: Order tipping functionality
  - name: Order Notifications
    description: Order notification system