openapi: 3.0.3
info:
  title: HomeChef Rewards API
  description: Rewards and subscription system endpoints
  version: 1.0.0

servers:
  - url: https://api.homechef.com/v1
    description: Production server

security:
  - BearerAuth: []

paths:
  /rewards/profile:
    get:
      tags: [Rewards]
      summary: Get user rewards profile
      responses:
        '200':
          description: Rewards profile retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/RewardsProfile'

  /rewards/earn:
    post:
      tags: [Rewards]
      summary: Earn reward tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, amount]
              properties:
                order_id:
                  type: string
                  example: 'order_123'
                amount:
                  type: number
                  format: float
                  example: 500.00
                bonus_multiplier:
                  type: number
                  format: float
                  default: 1.0
      responses:
        '200':
          description: Tokens earned successfully

  /rewards/redeem:
    post:
      tags: [Rewards]
      summary: Redeem reward tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tokens, reward_type]
              properties:
                tokens:
                  type: integer
                  example: 100
                reward_type:
                  type: string
                  enum: [discount, cashback, free_delivery]
                order_id:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Tokens redeemed successfully

  /rewards/transactions:
    get:
      tags: [Rewards]
      summary: Get reward transactions
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [earned, redeemed, all]
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Transactions retrieved

  /subscriptions:
    get:
      tags: [Subscriptions]
      summary: Get available subscription plans
      responses:
        '200':
          description: Subscription plans retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionPlan'

    post:
      tags: [Subscriptions]
      summary: Subscribe to plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan_id, payment_method_id]
              properties:
                plan_id:
                  type: string
                  example: 'premium_monthly'
                payment_method_id:
                  type: string
                  example: 'pm_123'
      responses:
        '201':
          description: Subscription created

  /subscriptions/current:
    get:
      tags: [Subscriptions]
      summary: Get current subscription
      responses:
        '200':
          description: Current subscription retrieved

    put:
      tags: [Subscriptions]
      summary: Update subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan_id:
                  type: string
                auto_renew:
                  type: boolean
      responses:
        '200':
          description: Subscription updated

    delete:
      tags: [Subscriptions]
      summary: Cancel subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: 'No longer needed'
                cancel_at_period_end:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Subscription cancelled

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RewardsProfile:
      type: object
      properties:
        total_tokens:
          type: integer
          example: 850
        lifetime_earned:
          type: integer
          example: 1680
        lifetime_redeemed:
          type: integer
          example: 830
        current_streak:
          type: integer
          example: 5
        tier:
          type: string
          enum: [bronze, silver, gold, platinum]
          example: 'gold'
        next_tier_tokens:
          type: integer
          example: 150

    SubscriptionPlan:
      type: object
      properties:
        id:
          type: string
          example: 'premium_monthly'
        name:
          type: string
          example: 'HomeChef Premium Monthly'
        price:
          type: number
          format: float
          example: 299.00
        duration:
          type: string
          enum: [monthly, yearly]
        benefits:
          type: array
          items:
            type: string
        token_multiplier:
          type: number
          format: float
          example: 3.0
        free_delivery:
          type: boolean
        priority_support:
          type: boolean

tags:
  - name: Rewards
    description: Reward tokens and redemption
  - name: Subscriptions
    description: Premium subscription management