openapi: 3.0.3
info:
  title: HomeChef Webhooks API
  description: Webhook endpoints for real-time event notifications
  version: 1.0.0

servers:
  - url: https://api.homechef.com/v1
    description: Production server

security:
  - BearerAuth: []

paths:
  /webhooks:
    get:
      tags: [Webhook Management]
      summary: Get webhook endpoints
      responses:
        '200':
          description: Webhook endpoints retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEndpoint'

    post:
      tags: [Webhook Management]
      summary: Create webhook endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook endpoint created

  /webhooks/{webhook_id}:
    get:
      tags: [Webhook Management]
      summary: Get webhook details
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook details retrieved

    put:
      tags: [Webhook Management]
      summary: Update webhook endpoint
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdate'
      responses:
        '200':
          description: Webhook updated

    delete:
      tags: [Webhook Management]
      summary: Delete webhook endpoint
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook deleted

  /webhooks/{webhook_id}/test:
    post:
      tags: [Webhook Management]
      summary: Test webhook endpoint
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  example: 'order.created'
      responses:
        '200':
          description: Test webhook sent

  /webhooks/events:
    get:
      tags: [Webhook Events]
      summary: Get available webhook events
      responses:
        '200':
          description: Available events retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEvent'

  /webhooks/deliveries:
    get:
      tags: [Webhook Deliveries]
      summary: Get webhook delivery logs
      parameters:
        - name: webhook_id
          in: query
          schema:
            type: string
        - name: event_type
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [success, failed, pending]
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Delivery logs retrieved

  /webhooks/deliveries/{delivery_id}/retry:
    post:
      tags: [Webhook Deliveries]
      summary: Retry failed webhook delivery
      parameters:
        - name: delivery_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Delivery retried

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          example: 'webhook_123'
        url:
          type: string
          format: uri
          example: 'https://your-app.com/webhooks/homechef'
        events:
          type: array
          items:
            type: string
          example: ['order.created', 'order.completed', 'payment.success']
        secret:
          type: string
          description: 'Secret for webhook signature verification'
        is_active:
          type: boolean
        retry_policy:
          type: object
          properties:
            max_retries:
              type: integer
              default: 3
            retry_delay:
              type: integer
              description: 'Delay in seconds'
              default: 60
        created_at:
          type: string
          format: date-time

    WebhookCreate:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        description:
          type: string
        retry_policy:
          type: object
          properties:
            max_retries:
              type: integer
            retry_delay:
              type: integer

    WebhookUpdate:
      type: object
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        retry_policy:
          type: object

    WebhookEvent:
      type: object
      properties:
        event_type:
          type: string
          example: 'order.created'
        description:
          type: string
          example: 'Triggered when a new order is placed'
        payload_schema:
          type: object
          description: 'JSON schema of the webhook payload'

    WebhookPayload:
      type: object
      properties:
        event:
          type: string
          example: 'order.created'
        data:
          type: object
          description: 'Event-specific data'
        timestamp:
          type: string
          format: date-time
        webhook_id:
          type: string
        delivery_id:
          type: string

tags:
  - name: Webhook Management
    description: Webhook endpoint management
  - name: Webhook Events
    description: Available webhook events
  - name: Webhook Deliveries
    description: Webhook delivery tracking