{{- if .Values.autoscaling.enabled }}
{{- range $service := list "chefService" "databaseService" "addressService" "adminService" "adsService" "analyticsService" "financialService" "customerService" "deliveryService" "inventoryService" "locationService" "messagingService" "orderService" "reviewsService" "rewardsService" "searchService" }}
{{- $serviceConfig := index $.Values $service }}
{{- if $serviceConfig.enabled }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "homechef.fullname" $ }}-{{ $serviceConfig.name }}
  labels:
    {{- include "homechef.labels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ $serviceConfig.name }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "homechef.fullname" $ }}-{{ $serviceConfig.name }}
  minReplicas: {{ $.Values.autoscaling.minReplicas }}
  maxReplicas: {{ $.Values.autoscaling.maxReplicas }}
  metrics:
    {{- if $.Values.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ $.Values.autoscaling.targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if $.Values.autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ $.Values.autoscaling.targetMemoryUtilizationPercentage }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}